<html>

<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	{% load staticfiles %}
	<link href="{% static "moocb/moocb.css" %}" rel="stylesheet">
	<link href="{% static "moocb/bootstrap.min.css" %}" rel="stylesheet">
</head>

<body>


{% block content %} {% endblock %}







	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	{% load staticfiles %}
	<script src="{% static "moocb/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "moocb/bootstrap.min.js" %}"></script>



	
</body>


</html>