{% extends 'base.html' %}

{% block content %}


<div class = 'form text-center'>
	<h3 class = 'form-title '>Welcome, {{user}}!</h3>
	<p>Let's get started, I have a few questions for you.</p>
	<h4>WHat is the name of the course you're taking?</h4>
	<form method="post" action="">
		{% csrf_token %}
		{% for field in form %}
			{% if field.errors %}
						{% for error in field.errors %}
	       			
	   					<div class="alert alert-danger " role="alert">{{ error|escape }}</div>

						{% endfor %}
			{% endif %}


			{% if field.name == 'end_date' %}
				<p>Enter the Date you'd like to finish the goal by.</p>
			{% endif %}

			{% if field.name == 'time_goal' %}
				<p>Enter how much time you would like to spend working on your goal.</p>
			{% endif %}
			{{field}}
		{% endfor %}
		
			
	   
			<input class = 'submit' type="submit" value="create" />

	</form>



{% endblock %}