{% extends 'base.html' %}

{% block content %}


<div class = 'form text-center'>
	<h3 class = 'form-title '>Welcome!</h3>
	<h2>What course are you taking?</h2>

	
	<form method="post" action="">
		{% csrf_token %}
		{% for field in form %}
			{% if field.errors %}
						{% for error in field.errors %}
	       			
	   					<div class="alert alert-danger " role="alert">{{ error|escape }}</div>

						{% endfor %}
			{% endif %}

			{% if field.name == 'url' %}
				{{field}}
			
				
			{% endif %}

			

			{% if field.name == 'time_goal' %}
				<p>I pledge:</p>
				{{field}}
				<p>Hours Per week to completing this course.</p>
				<p>[*you will be paid for every <strong id="hours-span">5</strong> hours you complete]</p>
		
				
			{% endif %}


			{% if field.name == 'end_date' %}
				<br>
				<p>I'll start <strong>today</strong> and finish on:</p>
				{{field}}
			{% endif %}

			
		
		{% endfor %}
		
			
	   
			<input class = 'submit' type="submit" value="pledge" />

	</form>



{% endblock %}



{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){ 
	$('#id_time_goal' )
	  .change(function () {
	   console.log('new val' , $('#id_time_goal' ).val())

	$("#hours-span").html( $('#id_time_goal' ).val() )


	  })

  })



</script>
{% endblock %}