<html>

<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	{% load staticfiles %}
	<link href="{% static "moocb/moocb.css" %}" rel="stylesheet">
</head>




<body>


	<h1 class = 'text-center'>We help you finish what you start.</h1>
	<p class = 'text-center'>Hey, I'm your Moocbuddy. Remember that class you've always wanted to take?<strong> Let's do this.</strong></p>

	<div class = "row text-center">
		<div class = "col-xs-4">
			<p><strong>Select</strong><br>Your Course</p>
			
		</div>
		<div class = "col-xs-4">
			<p><strong>Motivate</strong><br>Yourself</p>
			
		</div>
		<div class = "col-xs-4">
			<p><strong>Finish</strong><br>What you start.</p>
			
		</div>
	</div>
	<div class= "text-center">
		<button class= " btn-large"> Go </button>
	</div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>


</html>