<html>

<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	{% load staticfiles %}
	<link href="{% static "moocb/moocb.css" %}" rel="stylesheet">
</head>




<body>

<h1>Hi {{user}}</h1>
<h1>Goals:{{goals}}</h1>
<ul>
{% for goal in goals %}
	<li>Goal Name:{{goal}}  Goal Url:{{goal.url}}  Time Goal: {{goal.time_goal}} Time Completed: {{goal.time_worked}} {{goal.start_date}}</li>


{% endfor %}
</ul>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>


</html>