{% extends 'base.html' %}

{% block content %}


<div class = 'form text-center'>
	<h3 class = 'form-title '>Welcome, {{user}}!</h3>
	<p>Let's Pay! {{incentive.total_pledge}}</p>
	
	


	<form action="" method="POST">
		{% csrf_token %}
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_test_ac0EQFgbU0C6zzVpQXHbGSi0"
	    data-image="/square-image.png"
	    data-name="Demo Site"
	    data-description="2 widgets ($20.00)"
	    data-amount={{incentive.total_pledge}}>
	  </script>
	</form>



{% endblock %}